<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068546282919-vhq74ku678293egpqje4bhgsri0pj73p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068546282919-vhq74ku678293egpqje4bhgsri0pj73p</string>
	<key>API_KEY</key>
	<string>AIzaSyDiS0N3EZY9V-5s4gidS-eixebXLeD6cr0</string>
	<key>GCM_SENDER_ID</key>
	<string>1068546282919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>site.pegasis.raspiMonitorApp</string>
	<key>PROJECT_ID</key>
	<string>raspberry-pi-monitor-28b94</string>
	<key>STORAGE_BUCKET</key>
	<string>raspberry-pi-monitor-28b94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068546282919:ios:de1f415e16ae84c7365282</string>
	<key>DATABASE_URL</key>
	<string>https://raspberry-pi-monitor-28b94.firebaseio.com</string>
</dict>
</plist>